/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-dark-background: #121212;
    /* Preto principal para o fundo do body */
    --color-dark-header: #1A1A1A;
    /* Preto mais suave para o cabeçalho e cards */
    --color-text-light: #C5C6C7;
    /* Cinza claro para o texto geral */
    --color-accent-blue: #66FCF1;
    /* Azul elétrico para destaques (logo, títulos, brilhos) */
    --color-metallic-blue: #0B666A;
    /* Azul metálico para bordas e linhas */
    --color-main-container-bg: #1F2833;
    /* Azul metálico escuro para o container principal */
    --color-spotify-green: #1DB954;
    /* Verde do Spotify */
    --color-spotify-green-hover: #1ed760;
    /* Verde do Spotify ao passar o mouse */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-dark-background);
    color: var(--color-text-light);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Cabeçalho fixo navbar*/
.main-header {
    background-color: var(--color-dark-header);
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--color-metallic-blue);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    /* Ocupa 100% da largura da viewport */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-family: 'orbitron', sans-serif;
    font-size: 1.8rem;
    color: var(--color-accent-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--color-accent-blue);
}

.search-icon {
    font-size: 1.2rem;
}

/*-- seção boas vindas (foto e nome)--*/
.hero-section {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    min-height: 50vh;
    position: relative;
    margin-bottom: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.hero-profile-photo-wrapper {
    width: 400vh;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--color-metallic-blue);
    box-shadow: 0 0 25px rgba(102, 252, 241, 0.9);
    margin-bottom: 1.5rem;
    margin-left: 10rem;
}

.hero-profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-section h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 3.5rem;
    color: var(--color-accent-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(102, 252, 241, 0.9);
    margin-bottom: 0.5rem;
    position: relative;
    padding-bottom: 15px;
}

.hero-section h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    height: 4px;
    background-color: var(--color-metallic-blue);
    border-radius: 2px;
    box-shadow: 0 0 8px var(--color-accent-blue),
        0 0 20px var(--color-accent-blue),
        0 0 35px rgba(102, 252, 241, 0.7);
    transition: all 0.3s ease;
}

/* Os spans dentro do H1 apenas garantem a quebra de linha visual, sem efeitos de digitação */
.hero-section h1 .typed-line {
    display: inline;
    /*propriedades para digitação*/
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;
    width: 0;
    animation-fill-mode: forwards;
    display: inline-block;
}

/* Primeira linha: "WELLINGTON " (11 caracteres, incluindo o espaço) */
.hero-section h1 .typed-line:nth-child(1) {
    animation: typing-line 0.8s steps(11, end)forwards,
        /* blink-caret .75s step-end infinite, cursor ficar piscando */
        remote-caret 0.1s forwards;
    animation-delay: 0.5s, 0.5s, calc(0.5s +0.8s);
}

/* Segunda linha: "VARGAS" (6 caracteres) */
.hero-section h1 .typed-line:nth-child(2) {
    animation:
        typing-line 0.5s steps(6, end)forwards,
        /* blink-caret .75s step-end infinite, cursor ficar piscando */
        remove-caret 0.1s forwards;
    --delay-line2: calc(0.5s + 0.8s + 0.2s);
    animation-delay: var(--delay-line2), var(--delay-line2), calc(var(--delay-line2) + 0.5s);
}

/* Terceira linha: "BERNARDES" (9 caracteres) */
.hero-section h1 .typed-line:nth-child(3) {
    animation:
        typing-line 1s steps(9, end) forwards,
        /* Duração ajustada para 1s */
        blink-caret .75s step-end infinite;
    --delay-line3: calc(0.5s + 0.8s + 0.2s + 0.5s + 0.2s);
    /* Delay calculado */
    animation-delay: var(--delay-line3), var(--delay-line3);
}

.hero-section p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: var(--color-text-light);
    margin-top: 0.5rem;
    /* Propriedades de digitação para a frase */
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid var(--color-accent-blue);
    /* Cursor piscando */
    width: 0;
    animation-fill-mode: forwards;
    /* "Nada será fácil! Corra atrás de seus sonhos" (41 caracteres) */
    animation:
        typing-slogan 3s steps(41, end) forwards,
        blink-caret .75s step-end infinite;
    /* Delay para o slogan iniciar após todas as linhas do nome terminarem */
    animation-delay: calc(0.5s + 0.8s + 0.2s + 0.5s + 0.2s + 0.7s + 0.5s),
        /* Para typing */
        calc(0.5s + 0.8s + 0.2s + 0.5s + 0.2s + 0.7s + 0.5s + 3s);
    /* Para blink-caret */
}


/*KEyframes*/
@keyframes typing-line {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes typing-slogan {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--color-accent-blue);
    }
}

@keyframes remove-caret {
    to {
        border-color: transparent;
    }
}



/* --- Container Principal do Perfil --- */
.profile-container {
    display: flex;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto 2rem auto;
    background-color: var(--color-main-container-bg);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    padding: 30px;
    border: 1px solid var(--color-metallic-blue);
}

/* --- Área de Conteúdo Principal --- */
.content-area {
    flex-grow: 1;
    padding: 2rem;
}

/* Títulos das Seções (Habilidades, Projetos, Contato, Sobre Mim) */
.skills-section h2,
.projects-section h2,
.contact-section h2,
.about-me-section h2 {
    font-family: 'Orbitron', sans-serif;
    color: var(--color-accent-blue);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    border-bottom: 2px solid var(--color-metallic-blue);
}

.about-me-section p {
    font-size: 1.3rem;
    padding: 2px 2px;
    line-height: 1.8;
    color: var(--color-text-light);
    text-align: justify;

}

.skills-grid,
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.skill-item,
.project-item {
    background-color: var(--color-dark-header);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--color-metallic-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shaow 0.3s ease;
}

.skill-item:hover,
.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(102, 252, 241, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item a,
.project-item a {
    font-family: 'Michroma', sans-serif;
    color: var(--color-accent-blue);
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.skill-item h3,
.project-item h3 {
    font-family: 'Michroma', sans-serif;
    color: var(--color-accent-blue);
    font-size: 1.6rem;
}

.skill-item p,
.project-item p {
    font-size: 0.9rem;
    color: var(--color-text-light);
    padding-top: 1rem;
}

/* --- Seção de Contato --- */
.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 20px; 
}

.contact-info p {
  margin: 0; 
}

.contact-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  font-size: 24px; 
  color: #333;
  text-decoration: none;
  border: 2px solid #333; 
  border-radius: 50%; 
  transition: all 0.3s ease; 
}

.contact-info a:hover {
  color: #007bff;
  border-color: #007bff;
  transform: translateY(-3px); 
}
/* --- Seção Spotify --- */
.spotify-section {
    text-align: center;
    margin-top: 3rem;
}

.spotify-button {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-spotify-green);
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px rgba(29, 185, 84, 0.5);
}

.spotify-button i {
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

.spotify-button:hover {
    background-color: var(--color-spotify-green-hover);
    transform: translateY(-3px);
}

/*rodape footer*/
footer {
    background-color: var(--color-dark-header);
    color: var(--color-text-light);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    border-top: 1px solid var(--color-metallic-blue);
}

/* --- Responsividade Básica --- */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-links li {
        margin: 0.5rem 1rem;
    }

    .hero-section {
        padding: 4rem 1rem;
        min-height: 40vh;
    }

    .hero-profile-photo-wrapper {
        width: 150px;
        height: 150px;
    }

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .profile-container {
        flex-direction: column;
        padding: 1rem;
        margin: 1rem auto;
    }

    .content-area {
        padding: 1rem 0;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: 1fr;
    }
}